/* style.css */
body {
    background-color: #f7f7f7;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #0044cc;
    color: white;
    padding: 2rem;
    border-radius: 10px;
}

footer {
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

ul.list-group {
    background-color: #fff;
    border-radius: 5px;
}

.list-group-item h4 {
    color: #0044cc;
}

.list-group-item p {
    font-size: 0.9rem;
    color: #555;
}